body{
    margin: 0;
    padding: 0;
    font-family: 'El Messiri', sans-serif;
}
section{
    width: 100%;
    height: 135vh;
    background: url("b4.jpg");
    background-size: cover;

}

section .leftbox{
    width: 50%;
    height: 100%;
    padding: 50px;
    float: left;
    box-sizing: border-box;
}

section .leftbox .content{
    color: #fff;
    background: rgba(0,0,0,.5);
    padding: 40px;
    transition: .5s;
}

section .leftbox .content:hover{
    background: crimson;
}

section .leftbox .content h1{
    margin: 0;
    padding: 0;
    font-size: 50px;
    text-transform: uppercase;
}

section .leftbox .content p{
    margin :10px 0 0;
    padding: 0;
}

section .events{
    position: relative;
    height: 100%;
    width: 50%;
    float: right;
    background: rgba(0,0,0,.5);
    box-sizing: border-box;

}

section .events ul{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 40px;
    box-sizing: border-box;

    
}

section .events ul li{
    list-style: none;
    background: #fff;
    box-sizing: border-box;
    height: 240px;
    margin: 30px 0;
}

section .events ul li .time{
    position: relative;
    padding: 20px;
    background: #262626;
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    text-align: center;
    transition: .5s;
}

section .events ul li:hover .time{
    background: crimson;
}

section .events ul li .time h2{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    font-size: 60px;
    line-height: 30px;

}

section .events ul li .time h2 span{
    font-size: 30px;
}

section .events ul li .details{
    
    padding: 20px;
    background: #fff;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    float: left;
}

section .events ul li .details h3 {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

section .events ul li .details p {
    position: relative;
    margin: 10px 0 0;
    padding: 0;
    font-size: 16px;
}
section .events ul li .details a {
    
    display:inline-block;
    text-decoration: none;
    margin: 10px 15px;
    border: 2px solid #262626;
    margin-top: 15px;
    font-size: 18px;
    transition: .5s;  
      
}

section .events ul li .details a:hover{
    background: crimson ;
    color: #fff;
    border-color:  crimson;
} 

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 3px solid grey;
}

#presents{
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

#klogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 3px solid grey;
}








