<html>
    <head>
        <style>
            .body{
                background-color: dimgrey;
                text-align: center;
            }
        </style>
    </head>
    <body class="body">
        <div>
            <h1>Reverse String is : <%= reverseString %></h1>
        </div>
    </body>
</html>